# ---------- PyTorch CUDA 12.1 wheels ----------
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.1.2
torchaudio==2.1.2

# ---------- main libs ----------
whisperx @ git+https://github.com/m-bain/whisperx.git
pyannote.audio==3.1.1
speechbrain==0.5.16
ctranslate2==4.4.0
faster-whisper==1.0.3

# ---------- speechbrain dependencies ----------
sentencepiece

# ---------- utilities ----------
pydub
numpy<2.0
scipy
librosa
huggingface-hub

# ---------- runpod ----------
runpod>=1.6.2

# ---------- other ----------
cryptography
python-dotenv
